:root {
  --color-primary-default: #1e40af;
  --color-primary-hover: #1e3a8a;
  --color-primary-border: #e2e8f0;
  --color-ghost-default: #ffffff;
  --color-ghost-hover: #dbeafe;
  --color-secondary-default: #f1f5f9;
  --color-secondary-hover: #e2e8f0;
  --color-secondary-border: #e2e8f0;
  --color-disabled-default: #f8fafc;
  --color-disabled-hover: #e2e8f0;
  --color-disabled-border: #f1f5f9;
  --color-surface-background: #ffffff;
  --color-surface-card: #f8fafc;
  --color-surface-card-completed: #f1f5f9;
  --color-surface-input: #ffffff;
  --color-text-primary: #111827;
  --color-text-secondary: #0f172a;
  --color-text-ghost: #1e40af;
  --color-text-danger: #ffffff;
  --color-text-disabled: #cbd5e1;
  --color-text-completed: #9ca3af;
  --color-text-on-primary: #ffffff;
  --color-semantic-error: #dc2626;
  --color-semantic-success: #059669;
}

.dark {
  --color-primary-default: #60a5fa;
  --color-primary-hover: #93c5fd;
  --color-primary-border: #334155;
  --color-ghost-default: #ffffff;
  --color-ghost-hover: #3b82f6;
  --color-secondary-default: #1e293b;
  --color-secondary-hover: #334155;
  --color-secondary-border: #334155;
  --color-disabled-default: #0f172a;
  --color-disabled-hover: #334155;
  --color-disabled-border: #1e293b;
  --color-surface-background: #0f172a;
  --color-surface-card: #1e293b;
  --color-surface-card-completed: #334155;
  --color-surface-input: #334155;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #e2e8f0;
  --color-text-ghost: #3b82f6;
  --color-text-danger: #ffffff;
  --color-text-disabled: #334155;
  --color-text-completed: #e0e7ff;
  --color-text-on-primary: #111827;
  --color-semantic-error: #f87171;
  --color-semantic-success: #34d399;
}
